logging:
  encoding: {{ .Values.logging.encoding }}
  logLevel: {{ .Values.logging.logLevel }}

server:
  port: {{ .Values.server.port }}
  logging: {{ .Values.server.logging }}
  overwriteHost: {{ .Values.server.overwriteHost }}

ui:
  displayMode: {{ .Values.ui.displayMode }}

clusters:
- name: default
  host: {{ tpl .Values.policyReporter.host . }}
  skipTLS: {{ .Values.policyReporter.skipTLS }}
  certificate: {{ .Values.policyReporter.certificate }}
  secretRef: {{ .Values.policyReporter.secretRef }}
  basicAuth:
    username: {{ .Values.policyReporter.basicAuth.username }}
    password: {{ .Values.policyReporter.basicAuth.password }}
  {{- if .Values.plugins }}
  plugins:
  {{- if kindIs "slice" .Values.plugins }}
    {{- toYaml .Values.plugins | nindent 2 }}
  {{- else }}
    {{- tpl .Values.plugins . | nindent 2 }}
  {{- end }}
  {{- end }}

{{- with .Values.customBoards }}
customBoards:
  {{- toYaml . | nindent 4 }}
{{- end }}

{{- with .Values.sources }}
sources:
  {{- toYaml . | nindent 4 }}
{{- end }}

{{- with .Values.openIDConnect }}
openIDConnect:
  {{- toYaml . | nindent 4 }}
{{- end }}