logging:
  encoding: {{ .Values.logging.encoding }}
  logLevel: {{ .Values.logging.logLevel }}

server:
  port: {{ .Values.server.port }}
  logging: {{ .Values.server.logging }}
  overwriteHost: {{ .Values.server.overwriteHost }}

ui:
  displayMode: {{ .Values.ui.displayMode }}

clusters:
- name: default
  host: {{ tpl .Values.policyReporter.host . }}
  skipTLS: {{ .Values.policyReporter.skipTLS }}
  certificate: {{ .Values.policyReporter.certificate }}
  secretRef: {{ .Values.policyReporter.secretRef }}
  basicAuth:
    username: {{ .Values.policyReporter.basicAuth.username }}
    password: {{ .Values.policyReporter.basicAuth.password }}
  plugins:
  {{- if index .Values "kyverno-plugin" "enabled" }}
  - name: kyverno
    host: http://{{ .Release.Name }}-kyverno-plugin:{{ index .Values "kyverno-plugin" "service" "port" }}/api
  {{- end }}
  {{- if index .Values "trivy-plugin" "enabled" }}
  - name: Trivy Vulnerability
    host: http://{{ .Release.Name }}-trivy-plugin:{{ index .Values "trivy-plugin" "service" "port" }}/api/vulnr
  {{- end }}
  {{- with .Values.plugins }}
    {{- toYaml . | nindent 2 }}
  {{- end }}

{{- with .Values.customBoards }}
customBoards:
  {{- toYaml . | nindent 4 }}
{{- end }}

{{- with .Values.sources }}
sources:
  {{- toYaml . | nindent 4 }}
{{- end }}

{{- with .Values.openIDConnect }}
openIDConnect:
  {{- toYaml . | nindent 4 }}
{{- end }}